.container {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e3e5;
}

.burger {
  position: relative;
}
.burgerOn {
  width: 15px;
  height: 10px;
}
.burger::before {
  display: block;
  content: "";
  width: 1px;
  height: 70px;
  background-color: #e2e3e5;
  position: absolute;
  top: -25px;
  left: -20px;
}
.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .nav {
    display: block;
  }
  .burger {
    display: none;
  }
}
